<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <h2>Marketplace Bostero</h2>
      <p>Compra y vende de forma rápida y segura.</p>
    </div>

    <div class="footer-links">
      <h4>Enlaces</h4>
      <a href="#">Inicio</a>
      <a href="#">Categorías</a>
      <a href="#">Publicar</a>
      <a href="#">Contacto</a>
    </div>

    <div class="footer-links">
      <h4>Ayuda</h4>
      <a href="#">Preguntas frecuentes</a>
      <a href="#">Términos y condiciones</a>
      <a href="#">Privacidad</a>
    </div>

    

  </div>

  <div class="footer-bottom">
    © 2025 Marketplace Bostero. Todos los derechos reservados.
  </div>
</footer>